body {
    background-image: linear-gradient(to right, #00afb9, #fed9b7 );
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    padding: 10px 20px; 
    border-radius: 10px;  
    transition: all 0.3s ease;
}
header nav{
    height: 15vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
header ul {
    gap: 3rem;
    display: flex;
    list-style: none;
}
header li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    align-items: right;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
header a:hover {
    color: #f07167
}
header a{
    position: relative;
    text-decoration: none;
    border-radius: 2rem;
    padding: .5rem 1rem;
}
header a.active {
    text-decoration: underline;
}
header .active::after,
header a:hover::after {
    content: "";
    height: 2px;
    background-color: #f07167;
    visibility: visible;
    transform: scaleX(1);
}
header a::after {
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.heading2 {
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact {
    font-size: 1em;
    color: black;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
}
.s-container {
    min-height: 50vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 3rem;
}
.content{
    display:contents;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
}
.copyright {
    position: absolute;
    right: 3%;
    bottom: 2%;
}